<div class="container-exercice px-5 py-5 mb-5">
  <h4>Exercice 1 :</h4>
  <hr />
  <p [appColor]="elColors">
    Je change de couleur ! <br />
    Mauris luctus vulputate lacus at egestas. Sed aliquam eleifend lacus, eget
    finibus risus euismod nec. Maecenas a dui ante. Suspendisse fermentum tempus
    molestie. Pellentesque ullamcorper convallis suscipit. Pellentesque sagittis
    massa et metus lacinia malesuada. Suspendisse quam erat, consequat sed
    imperdiet vehicula, ullamcorper sollicitudin tellus. Quisque eget felis a
    leo gravida pulvinar. Maecenas non aliquet sapien.
  </p>
</div>
